* {
    box-sizing: border-box;
}

:root {
    font-family: 'Times New Roman', Times, serif;
    font-size: 62.5%;
    background-color: rgb(240, 255, 247);
}

/* header styles start */
header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

a {
    text-decoration: none;
}

.timer {
    display: flex;
}

.timer p {
    margin: 0;
    padding-right: 2px;
}
/* header styles end */

/* start page styles start */
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
    height: 200px;
}

h1 {
    font-weight: bold;
    margin: auto;
    width: fit-content;
    padding: 5px 30px;
    border-bottom: 1px black solid;
}

p {
    text-align: center;
}
/* start page styles end */

/* question page styles start */
#questions {
    width: 100%;
    font-weight: bold;
    
}

.choices-container {
    border: 1px solid black;
    margin: 10px;
    background-color: rgba(55, 133, 4, 1);
    width: 60%;
    height: 20px;
    display: flex;
    justify-content: flex-start;
}

.choices-number {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 0 5px;
    
}

.choices-text {
    font-size: 10px;
    align-self: center;
    margin-left: 10px;
}
/* question page styles end */

/* buttons styles start */
.btn {
    margin: 20px;
    display: flex;
    justify-content: center;
    background-color: rgba(55, 133, 4, 1);
    color: black;
    height: 25px;
    padding: 3px 3px 0 3px;
}

.btn:hover {
    background-color: rgba(56, 133, 4, 0.705);
    box-shadow: 1.5px 3px black;
}
/* buttons styles end */